<div style="color: black;position: relative;top: 20px;left: 270px;width: 60%;text-align: left;">
	<div>
		<h1><%= t "en.hello"%></h1>
		<h1><%= @title %></h1>
		<div style="overflow: hidden;text-overflow: ellipsis;height: 80px;word-break: break-all;"><%= @str1 %></div>
	</div>
</div>