<div>
	新建booklist
	<div>
		
		<%= form_for :booklist do |f| %>
		  <p>
		    <%= f.label :body %><br>
		    <%= f.text_area :body %>
		  </p>
		  <p>
		    <%= f.submit %>
		  </p>
		<% end %>
	</div>


</div>