<div style="color: pink;position: relative;top: 20px;left: 270px;">
	<h1>Editing Image</h1>

	<%= render 'form', image: @image %>

	<%= link_to 'Show', @image %> |
	<%= link_to 'Back', images_path %>
</div>
